<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>bukolidelivery</name>
	<displayName><![CDATA[Delivery by Bukoli]]></displayName>
	<version><![CDATA[1.1.1]]></version>
	<description><![CDATA[Adds Bukoli delivery method.]]></description>
	<author><![CDATA[muratbastas]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>0</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
